<div class="alert alert-danger" role="alert">
    <h4>Error : {{ error.status }} - {{ error.title }}</h4>
    <p>{{ error.detail }}</p>
    <p>Type : <a href="{{ error.type }}" class="alert-link">{{ error.type }}</a></p>
</div>